/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --decor-color: #FF8DCB;
  --main-text-color: #353430;
  --secondary-text-color: var(--main-text-color);
  --title-color: #FFC2E6;
  --subtitle-color: var(--main-text-color);
  --accent-color: #353430;
  --shadow--color: var(--decor-color);
  --hover-effect: rgb(50 49 45 / 0.4);
}

.theme-light .rec-element {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --decor-color: #FF8DCB;
    --main-text-color: #353430;
    --secondary-text-color: var(--main-text-color);
    --title-color: #FFC2E6;
    --subtitle-color: var(--main-text-color);
    --accent-color: #353430;
    --shadow--color: var(--decor-color);
    --hover-effect: rgb(50 49 45 / 0.4);
  }

  .theme-auto .rec-element {
    display: none;
  }
}